################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TimeTracker.Database/bin/Debug
/TimeTracker.Database/obj/Debug
*.user
*.suo
/TimeTracker.Dal/obj/Debug
